@media (max-width: 1280px) {
  /* container  */
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }

  .services__img img {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  /* container  */
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  /* container  */
  .container {
    max-width: 100%;
  }

  .services__img img {
    width: 90%;
  }
}
@media (max-width: 576px) {
  /* container  */
  .container,
  .container-sm {
    max-width: 100%;
  }
  .services__img img {
    width: 85%;
    margin: auto;
  }
}
