/* Global  */
:root {
  --my-color: #fff;
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #696969;
  --bg-color: #fff;
  --heading-color: #000c04;
  --border-radius: 10px;
  --border-color: #ddd;
  --border-light: #f0f3f0;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --bg-light: rgba(147, 107, 232, 0.05);
  --iframe-filter: grayscale(0%);
  --widget-bg: #3f3a64;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #189a46;
  --secondary: #f53626;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --textfooter-color: #696969;
  /* or any other variables/style */
}
[data-theme="dark"] {
  --my-color: #000;
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #afafaf;
  --bg-color: #151515;
  --heading-color: #ddd;
  --border-color: #333;
  --border-light: #444;
  --nav-color: #fff;
  --bg-light: #222;
  --dropdown-color: #151515;
  --iframe-filter: grayscale(100%);
  --widget-bg: #131617;
  --textfooter-color: #afafaf;
}

* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
}

/* h1, h2, h3, h4, h5, h6  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

/* p  */
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Jost", sans-serif;
}
/* a  */
a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 0;
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 74%;
}

.dropdown-toggle::after {
  margin-left: 0;
}

a.read-more:hover {
  color: var(--primary-color);
}
a.read-more {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: bold;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

/* img  */
img {
  border-radius: 10px;
}

/* text align  */

.txt-left {
  text-align: left !important;
}

.txt-right {
  text-align: right !important;
}

.txt-center {
  text-align: center !important;
}

/* botton  */
.mybtn {
  text-transform: capitalize;
  margin-top: 15px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mybtn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: bold;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.mybtn-primary {
  background-color: #fff;
  color: var(--primary-color);
}

.mybtn-outline-primary {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.mybtn-outline-primary:hover {
  background-color: #fff;
  color: var(--primary-color);
}
/* title  */
.title {
  margin: 0 auto 84px;
  text-align: center;
}

.title h5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}

.title h2 {
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  padding-top: 1.5rem;
}

.title p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  padding-top: 1.5rem;
  color: var(--font-color);
  margin: 15px 0 35px 0;
}

.active {
  color: var(--primary-color) !important;
}

/* header  */
header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .container {
  background-color: var(--bg-color);
}

.fixed-top {
  top: 40px;
}

.navbar {
  justify-content: space-between;
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary-color);
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-item div {
  justify-content: space-around;
}

.nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 700;
  position: relative;
  color: var(--heading-color);
}

.dropdown-item {
  position: relative;
}
/* end header  */

/* carousel */
.carousel {
  background-color: #000;
  background: url(../img/banner1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.slider {
  height: 60px;
}

.item {
  width: 186px;
  margin-right: 10px;
}

.banner-info {
  background-color: transparent;
  color: var(--);
}

.banner-info-bg {
  max-width: 700px;
}

.banner-info-bg h1 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.banner-info-bg p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}
.bg-dots {
  height: 15px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.dot {
  background-color: #d8d8d8;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.dot:hover {
  width: 50px;
  background-color: var(--primary-color);
}

/* End carousel  */

/* aboutUs */
.aboutUs {
  background-color: var(--my-color);
}

.aboutUs__title {
  max-width: 700px;
}
/* End aboutUs */

/* feature */
.feature {
  background-color: var(--bg-light);
}

.area-box {
  background-color: #fff;
}

.feature .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  position: relative;
  margin-bottom: 30px;
}

.feature .area-box span {
  color: var(--primary-color);
  font-size: 30px;
}

.feature .area-box:hover {
  background: var(--bg-light);
}

.feature .area-box h3 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
}

.feature .area-box h3 a:hover {
  color: var(--primary-color);
}

/* End feature */

/* services */
.services {
  background-color: var(--bg-color);
  padding: 50px 0 140px 0;
}

.services__title {
  align-self: center;
}

.services__cont-items li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}

ul.services__cont-items li span.fa-solid {
  color: var(--primary-color);
  margin-right: 12px;
  background: var(--bg-light);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* End services */

/* stats */
.stats {
  background-color: var(--primary-color);
  color: #f9f7fe;
}

.stats__info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.stats__info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.stats__info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* End stats */

/* ourPlans */
.ourPlans {
  background-color: var(--bg-light);
}

.ourPlans .mybtn {
  color: #fff;
  background: var(--primary-color);
}

.ourPlan__pricing-bg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.pricing-gd {
  background: var(--bg-color);
  border-radius: 6px;
  align-self: center;
}

.pricing-gd.active {
  transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
}

.pricing-gd.active .pricing-top {
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.pricing-gd.active .pricing {
  padding: 0 0 3.5rem;
}

.pricing-top {
  text-align: center;
}

.pricing-top h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.pricing-top h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);
}

.pricing-top h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}

.pricing-gd.active h6,
.pricing-gd.active h4 {
  color: #fff;
}

.pricing-top h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.pricing-gd.active .pricing-top h4 span {
  color: #eee;
}

.pricing-top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing-bottom {
  text-align: center;
  padding-top: 1em;
}

.pricing-links {
  min-height: 120px;
}

ul.pricing-links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

p.pricing-lists {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}
/* End ourPlans */

/* pageVideo */
.pageVideo {
  background-color: var(--my-color);
}

.pageVideo__bg {
  max-width: 950px;
  margin: 0 auto;
}

.pageVideo__bgVideo {
  position: relative;
}

.pageVideo__bgVideo img {
  object-fit: cover;
}
.pageVideo__bgVideo .play-view {
  display: flex;
  height: 80px;
  width: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  position: absolute;
}

span.video-play-icon {
  margin: auto;
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

.video-play-icon {
  color: var(--primary-color);
}
/* End pageVideo */

/* testimonial */
.testimonial {
  background-color: var(--bg-light);
}

.testimonial__cont {
  max-width: 1050px;
  margin: auto;
}
.testimonial__bg {
  max-width: 1050px;
  margin: auto;
}

.testimonial__bg div.bg-dots {
  position: relative;
  bottom: 30px;
  left: 0;
  right: 0;
  padding-top: 85px;
}

.testimonial__mes {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.testimonial__mes-bg {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.testimonial__mes-bg blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}

blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
}

.mes-client {
  display: flex;
  text-align: center;
}

.mes-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.mes-img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.mes-peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left;
  align-self: center;
}

.mes-peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.mes-peopl p {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}

/* End testimonial  */
/* bottom  */

.bottom {
  background-color: var(--my-color);
  padding: 100px 0;
}

.bottom .form-email {
  max-width: 600px;
  margin: auto;
}

.bottom .form-email div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.bottom .mybtn {
  color: #fff;
  background: var(--primary-color);
}

.bottom input[type="email"] {
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: var(--border-radius);
  padding: 0px 20px;
  height: 60px;
  min-height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bottom input[type="email"]:focus {
  background: #fff;
  border: 1px solid var(--primary-color);
  box-shadow: none;
  outline: none;
}
.bottom input.mybtn {
  margin: 0;
}

.bottom input.mybtn:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
}

/* End bottom */
/* footer  */

footer {
  background-color: #111;
}

.footer__list ul li {
  list-style: none;
  margin-bottom: 5px;
}

.footer__list ul li a,
.footer__list ul li p {
  font-weight: normal;
  font-size: 16px;
  color: var(--textfooter-color);
  line-height: 28px;
}

.footer__list ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer__icons {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.footer__icons li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}
.footer__bottom {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.footer__bottom a {
  color: var(--secondary-color);
  opacity: 0.8;
  transition: all 0.5s;
}

.footer__bottom a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
/* End footer  */

/* Back to top */

.backtotop {
  position: fixed;
  background-color: var(--primary-color);
  bottom: 15px;
  right: 15px;
  z-index: 2;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}
.backtotop:hover {
  border-radius: 50%;
}
.backtotop i {
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: white;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.backtotop:hover i {
  background-color: #fff;
  color: var(--primary-color);
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}

/* Child page */
/* header child page  */
.about-breadcrumb {
  margin-top: 90px;
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 1em 0;
}

.about-breadcrumb::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.about-breadcrumb h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.about-breadcrumb ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}

.about-breadcrumb ul li span {
  font-size: 12px;
  vertical-align: 1px;
}

/* end header child page  */
/* info child page */
.info__grids {
  border-bottom: 1px solid var(--border-light);
  margin-top: 80px;
  padding-bottom: 80px;
  align-items: center;
}

.info__grids:first-child {
  padding-top: 2rem;
}

.info__grids:last-child {
  border: none;
}

.info__img {
  display: flex;
}

.info__img a {
  display: inline-block;
}

.info__title h2 {
  padding: 0;
}
.info__title p {
  margin: 15px 0;
  font-size: 1.2em;
  padding-top: 1rem;
}

/* end info child page */

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* End child page */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
